<style>
  footer.site-footer ul li a{
   font-family: Saira Condensed;
font-size: 20px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.06em;
text-align: left;
  }
  footer.site-footer .box.payment-types p{
  text-align: center;
}

  footer.site-footer ul li {
    line-height: 1.8 !important;
}
  
  footer.site-footer p{
    font-family: Saira Condensed;
    font-family: Saira Condensed;
font-size: 20px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.06em;
text-align: center;
    font-family: Saira Condensed;
    font-family: Saira Condensed;
    font-size: 20px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.06em;
    text-align: center;
    font-family: Saira Condensed;
    font-size: 17px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.06em;
    text-align: left;
color: white;
  }
  footer.site-footer h4{
    font-family: Saira Condensed;
    font-family: Saira Condensed;
font-size: 20px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.06em;
text-align: center;

  }
</style>


<div data-section-id="{{ section.id }}" data-section-type="footer-section">
  <footer class="site-footer">
    <div class="wrapper">
      <div class="grid">
        <img src="https://cdn.shopify.com/s/files/1/0529/8647/8778/files/Mercurys_Long_Logo_white_registered.png?v=1694196335" width="422" hight="auto">
      {%- for block in section.blocks -%}
        {%- capture box_classes -%}box box-{{ forloop.index }} {% if forloop.first == true %}box-first{% endif %} {% if forloop.last == true %}box-last{% endif %} layout-{{ section.blocks.size }}{%- endcapture -%}
        {%- comment -%}
          Menu column
        {%- endcomment -%}
        {% if block.type == 'menu' %}
          <div  style="width: auto; text-align: initial;" class="{{ box_classes }} menu" role="navigation"
            {%- if block.settings.title != blank -%}
              aria-labelledby="nav-{{ block.settings.title | handle }}"
            {%- else -%}
              aria-label="{{ linklists[block.settings.footer_linklist].title }}"
            {%- endif -%}
            {{ block.shopify_attributes }}>
            {% if block.settings.title != blank %}
              <h4 id="nav-{{ block.settings.title | handle }}">{{ block.settings.title | escape }}</h4>
            {% endif %}
            {% if block.settings.text != blank %}
              <p>{{ block.settings.text | escape }}</p>
            {% endif %}
            <ul {% if linklists[block.settings.footer_linklist].levels > 1 %}class="nested-menu" style="text-align: center;"{% endif %}>
              {% for link in linklists[block.settings.footer_linklist].links %}
                <li class="{% if link.active %}active {% endif %}{% if link.links != blank %}has-dropdown {% endif %}">
                  <a href="{{ link.url }}" {% if link.links != blank %}aria-haspopup="true" aria-expanded="false"{% endif %}>{{ link.title | escape }}</a>
                  {% if link.links != blank %}
                    <ul class="dropdown" aria-hidden="true">
                      {% comment %}
                        sub_link - Second level menu
                      {% endcomment %}
                      {% for sub_link in link.links %}
                        <li class="{% if sub_link.active %}active {% endif %}{% if sub_link.links != blank %}has-sub-dropdown {% endif %}">
                          <a href="{{ sub_link.url }}" tabindex="-1" {% if sub_link.links != blank %}aria-haspopup="true" aria-expanded="false"{% endif %}>{{ sub_link.title | escape }}</a>
                          {% if sub_link.links != blank %}
                            <ul class="sub-dropdown" aria-hidden="true">
                              {% comment %}
                                sub_sub_link - Third level menu
                              {% endcomment %}
                              {% for sub_sub_link in sub_link.links %}
                                <li class="sub-dropdown-item {% if sub_sub_link.active %}active {% endif %}">
                                  <a href="{{ sub_sub_link.url }}" tabindex="-1">{{ sub_sub_link.title | escape }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {%- comment -%}
          Newsletter column
        {%- endcomment -%}
        {% if block.type == 'newsletter' %}
          <div class="{{ box_classes }} newsletter" {{ block.shopify_attributes }}>
            <div class="offer-message">
              {% if block.settings.title != blank %}
                <h4>{{ block.settings.title | escape }}</h4>
              {% endif %}
              {% if block.settings.text_richtext != blank %}
                <div class="rte">{{ block.settings.text_richtext }}</div>
              {% endif %}
            </div>
            <div class="offer-email">
              {% include 'newsletter-subscribe', subscribe_source: 'footer' %}
            </div>
          </div>
        {% endif %}

        {%- comment -%}
          Contact and social column
        {%- endcomment -%}
        {% if block.type == 'contact' %}
          <div class="{{ box_classes }} social" {{ block.shopify_attributes }}>
            {% if block.settings.title != blank %}
              <h4>{{ block.settings.title | escape }}</h4>
            {% endif %}
            {% if block.settings.show_contact %}
              <p>
                {% if block.settings.phone != blank %}
                  <span class="phone">{{ block.settings.phone | escape }}</span>
                {% endif %}
                {% if block.settings.phone != blank and block.settings.contact_text != blank %}&bull;{% endif %}
                {% if block.settings.contact_text != blank %}
                  {% if block.settings.contact_link != blank %}
                    <a class="contact" href="{{ block.settings.contact_link }}">{{ block.settings.contact_text | escape }}</a>
                  {% else %}
                    <span class="contact">{{ block.settings.contact_text | escape }}</span>
                  {% endif %}
                {% endif %}
              </p>
            {% endif %}
            {% if block.settings.address != blank %}
              <div class="richtext rte content">
                {{ block.settings.address }}
              </div>
            {% endif %}
            {% if block.settings.show_social %}
              {% include 'social-icons' %}
            {% endif %}

          </div>
        {% endif %}

      {%- endfor -%}
      </div>

      

      {% if section.settings.trust_badge or section.settings.trust_richtext != blank %}
        <div class="box trust-badge">
          {% if section.settings.trust_richtext != blank %}
            <div class="rte">{{ section.settings.trust_richtext }}</div>
          {% endif %}
          {% if section.settings.trust_badge %}
            {%- assign image = section.settings.trust_badge -%}
            {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
            {% include 'theme-rias' %}
            <img class="trust-badge--image lazyload"
              src="{{ image | img_url: '295x' }}"
              data-src="{{ image_url_pattern }}"
              data-widths="[{{ image_widths }}]"
              data-aspectratio="{{ image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ image.alt | escape }}">
              <style>
              {%- if image.width >= 600 -%}
                footer.site-footer .trust-badge--image { width: 600px; }
              {%-else -%}
                footer.site-footer .trust-badge--image { width: {{ image.width }}px; }
              {%- endif -%}
              </style>
          {% endif %}
        </div>
      {% endif %}

<!--       <p class="copyright">&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url }}<br>
        {{ powered_by_link }}</p> -->
    </div>
    <div style="display: flex; margin: 0 6%; flex-wrap: wrap; align-items: baseline; justify-content: space-between; max-width: 1139px; margin: auto; width: 100%;">
        <div class="box payment-types" style="width: fit-content;">
          {%- assign locale_selector = false -%}
          {%- assign currency_selector = false -%}

          {%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
            {%- assign currency_selector = true -%}
          {%- endif -%}

          {%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
            {%- assign locale_selector = true -%}
          {%- endif -%}

          {%- if locale_selector or currency_selector -%}
            {%- form 'localization', class: 'selectors-form', id: 'localization_form--footer' -%}
              <div class="box localization">
                {%- if locale_selector -%}
                  <div class="selectors-form__item">
                    <h2 class="visually-hidden" id="lang-heading">
                      {{ 'general.language.dropdown_label' | t }}
                    </h2>

                    <div class="disclosure" data-disclosure-locale>
                      <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                        {{ form.current_locale.endonym_name }}
                      </button>
                      <ul id="lang-list" class="disclosure-list" data-disclosure-list>
                        {% for locale in form.available_locales %}
                          <li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                            <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                              {{ locale.endonym_name }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                      <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                    </div>
                  </div>
                {%- endif -%}

                {%- if currency_selector -%}
                  <div class="selectors-form__item">
                    <h2 class="visually-hidden" id="currency-heading">
                      {{ 'general.currency.dropdown_label' | t }}
                    </h2>

                    <div class="disclosure" data-disclosure-currency>
                      <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="currency-list" aria-describedby="currency-heading" data-disclosure-toggle>
                        {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                      </button>
                      <ul id="currency-list" class="disclosure-list" data-disclosure-list>
                        {% for currency in form.available_currencies %}
                          <li class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}">
                            <a class="disclosure-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                              {{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                      <input type="hidden" name="currency_code" id="CurrencySelector" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
                    </div>
                  </div>
                {%- endif -%}
              </div>
            {%- endform -%}
          {%- endif -%}
          
          {% comment %}
            Loop through available payment methods and show their icons.
          {% endcomment %}
          {% if section.settings.show_payment_icons %}
            {% unless shop.enabled_payment_types == empty %}
              <p style="color: white;">{{ 'layout.footer.accepted_payments' | t }}</p>
                <ul class="payment-types__list">
                {% for type in shop.enabled_payment_types %}
                  {%- assign icon_class = 'payment-icon payment-icon--' | append: type -%}
                  <li>
                    {{ type | payment_type_svg_tag: class:icon_class }}
                  </li>
                {% endfor %}
                </ul>
            {% endunless %}
          {% endif %}
        </div>


        <div class="leftadfooter" style="display: flex; gap: 52px;">
          <div class="gettouch">
            <h5 style="font-family: 'Saira Condensed', sans-serif !important; letter-spacing: 2px; font-size: 17px; margin: 0 0 0.1em; line-height: 40px; color: white; font-weight: 100; ">GET IN TOUCH</h5>
            <p style="font-family: 'Saira Condensed', sans-serif !important; letter-spacing: 2px; font-size: 17px; margin: 0 0 0.1em; color: white; font-weight: 100; ">(425) 636 8779</p>
          </div>
          <div class="followUs">
            <h5 style="font-family: 'Saira Condensed', sans-serif !important; letter-spacing: 2px; font-size: 17px; margin: 0 0 0.1em; line-height: 40px; color:#D32541 ; font-weight: 100; ">FOLLOW US</h5>
            {% include 'social-icons' %}
          </div>
        </div>
        </div>
  </footer>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency Selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Checkout badge"
    },
    {
      "type": "richtext",
      "id": "trust_richtext",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "trust_badge",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "default": "Footer menu"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Learn more about us"
        },
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "Menu",
          "default": "footer"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "text_richtext",
          "label": "Text",
          "default": "<p>Subscribe to be the first to hear about our exclusive offers and latest arrivals.</p>"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "default": "Contact us"
        },
        {
          "type": "checkbox",
          "id": "show_contact",
          "label": "Show contact information",
          "default": true
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone number",
          "default": "1.877.555.9300"
        },
        {
          "type": "text",
          "id": "contact_text",
          "label": "Contact text"
        },
        {
          "type": "url",
          "id": "contact_link",
          "label": "Contact link"
        },
        {
          "type": "richtext",
          "id": "address",
          "label": "Address",
          "default": "<p></p>"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "Show social icons",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
