
<div class="product-template" 
  id="ProductSection-{{ section.id }}" 
  data-section-id="{{ section.id }}" 
  data-ProductSection 
  data-section-type="product-template" 
  data-enable-history-state="true" 
  data-enable-swatch="{% if section.settings.variant_style == 'dropdowns' %}false{% else %}true{% endif %}"
>
  <section class="single-product uoo">
    {% comment %}
      Get first variant, or deep linked one
    {% endcomment %}
    {% assign current_variant = product.selected_or_first_available_variant %}
    <div class="wrapper">

      <header class="content-util">
        {% include 'breadcrumb' %}
        {% include 'social-icons' %}
      </header>

      <header class="product-header">
        <div class="product-jump-container">
          {% comment %}
            If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
            in the URL, we can show next/previous links to other products in the collection.
          {% endcomment %}
          {% if collection and section.settings.show_product_jump %}
            {% if collection.previous_product or collection.next_product %}
              <ul class="product-jump">

              {% if collection.previous_product %}
                {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
                <li class="previous">
                  {{ 'products.general.previous_product_html' | t | link_to: prev_url }}
                </li>
              {% endif %}

              {% if collection.next_product %}
                {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
                <li class="next">
                  {{ 'products.general.next_product_html' | t | link_to: next_url }}
                </li>
              {% endif %}

              </ul>
            {% endif %}
          {% endif %}
        </div>

      </header>

      <div class="grid">
        <div class="product-images thumbnails-placement-{{ section.settings.thumbnails_placement }}">
          <div class="images-container">
            {% include 'product-featured-image' %}

            {%- comment -%}
              Create thumbnails if there is more than one product image
            {%- endcomment -%}
            {%- unless product.media.size == 1 or section.settings.thumbnails_placement == 'hide' -%}
              {%- if section.settings.thumbnails_placement contains 'side' -%}
                {% include 'product-thumbnails' %}
              {%- endif -%}

              {% include 'product-thumbnails-slider' %}
            {%- endunless -%}
          </div>
        </div>

        <aside class="product-aside">
          <div class="purchase-box {% if section.settings.product_box_padding %}padding-box{% endif %}">
            {% comment %}
              ID addToCartForm is a selector for the ajax cart plugin
            {% endcomment %}
            <div id="AddToCartForm-{{ section.id }}" data-AddToCartForm class="form-vertical product-form product-form-{{ section.id }}" {% if section.settings.show_payment_button %}data-dynamic-checkout="true"{% endif %} data-section="{{ section.id }}">
              {% include 'product-form' %}
            </div>

            <div class="product-single__store-availability-container" data-store-availability-container>
            </div>

          </div>

          {% if section.settings.trust_badge %}
            <div class="trust-badge">
              {% if section.settings.trust_badge %}
                {%- assign image = section.settings.trust_badge -%}
                {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
                {% include 'theme-rias' %}
                <img class="trust-badge--image lazyload"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  style="max-width: {{ image.width }}px;"
                  data-src="{{ image_url_pattern }}"
                  data-widths="[{{ image_widths }}]"
                  data-aspectratio="{{ image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ image.alt | escape }}">
              {% endif %}
            </div>
            <style>
              {%- assign padding = 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' -%}
              #ProductSection-{{ section.id }} aside.product-aside .trust-badge:before {
                 padding-bottom: {{ padding }};
              }
            </style>
          {% endif %}

          <div class="description rte" data-tabs-enable="{{ section.settings.tabs_enable }}">
            {%- assign description_parts = product.description | split: '<!-- split -->' -%}
            {%- assign description_first_part = description_parts | first -%}
            {%- if section.settings.tabs_enable -%}
              {%- comment -%}
                Split up the content of the description into tab titles and content by the auto_headings value
              {%- endcomment -%}
              <div class="description__tabs">
                {%- comment -%}
                  Break up description into headings and tabs using auto heading values
                {%- endcomment -%}
                {%- assign auto_heading= '<' | append: section.settings.tabs_auto_headings | append: '>' -%}
                {%- assign auto_heading_end = '</' | append: section.settings.tabs_auto_headings | append: '>' -%}
                {%- assign desc_tabs = description_first_part | split: auto_heading -%}
                {%- assign first_tab = true -%}
                {%- for tab in desc_tabs -%}
                  {%- assign tab_size = tab | strip_html | strip | size -%}
                  {%- unless tab_size == 0 -%}
                    {%- assign tab_parts = tab | split: auto_heading_end -%}
                    <div class="tab tab--{{ forloop.index }} {% if first_tab %}tab--active {%- assign first_tab = false -%} {% endif %}">
                      {%- if tab_parts.size > 1 -%}
                        <div class="tab__title" tabindex="0">{{ tab_parts[0] }}</div>
                        <div class="tab__content">{{ tab_parts[1] }}</div>
                      {%- else -%}
                        <div class="tab__title" tabindex="0">{{ section.settings.tabs_title }}</div>
                        <div class="tab__content">{{ tab_parts[0] }}</div>
                      {%- endif -%}
                    </div>
                  {%- endunless -%}
                {%- endfor -%}
  
                {%- comment -%}
                  Add the additional optional pages of tabs
                {%- endcomment -%}
                {%- if section.settings.tabs_global_page_1 != blank -%}
                  <div class="tab tab--global-1">
                    <div class="tab__title" tabindex="0">{{ pages[section.settings.tabs_global_page_1].title }}</div>
                    <div class="tab__content">{{ pages[section.settings.tabs_global_page_1].content }}</div>
                  </div>
                {%- endif -%}
                {%- if section.settings.tabs_global_page_2 != blank -%}
                  <div class="tab tab--global-1">
                    <div class="tab__title" tabindex="0">{{ pages[section.settings.tabs_global_page_2].title }}</div>
                    <div class="tab__content">{{ pages[section.settings.tabs_global_page_2].content }}</div>
                  </div>
                {%- endif -%}
                {%- if section.settings.tabs_global_page_3 != blank -%}
                  <div class="tab tab--global-1">
                    <div class="tab__title" tabindex="0">{{ pages[section.settings.tabs_global_page_3].title }}</div>
                    <div class="tab__content">{{ pages[section.settings.tabs_global_page_3].content }}</div>
                  </div>
                {%- endif -%}
              </div>
            {%- else -%}
              {%- comment -%}
                Display the normal description or first description part before the split
              {%- endcomment -%}
              {{ description_first_part }}
            {%- endif -%}
          </div>
          {% if section.settings.show_share_buttons %}
            {% include 'social-share' %}
          {% endif %}
        </aside>
      </div>

      {%- if description_parts.size > 1 -%}
        <div class="additional-description rte">
          {%- for description_part in description_parts -%}
            {%- unless forloop.first -%}
              {{ description_part }}
            {%- endunless -%}
          {%- endfor -%}
        </div>
      {%- endif -%}

      {%- comment -%}
        Optional place to add product reviews snippets from Shopify Apps
        - Shopify Product Reviews
        - YOTPO
        - Judge.me
      {%- endcomment -%}
      <div class="product-reviews"></div>

    </div>
  </section>

  {% comment %}
    Related products
  {% endcomment %}
  {% for block in section.blocks %}
    <div class="product-block-container" {{ block.shopify_attributes }}>
      {% case block.type %}
        {%- when '@app' -%}
          {% render block %}
        {% when 'related_products' %}
          <div class="block-container">
            {% include 'related-products' %}
          </div>

        {% when 'product_collection'}
          {%- assign product_collection_count = '4' -%}
          {%- assign collection_count = '4' -%}
          <div class="simple-collection layout-{{ collection_count }}">
            <div class="wrapper">
              <header>
                {% if block.settings.title != blank %}
                  <h4>{{ block.settings.title | escape }}</h4>
                {% endif %}
                {% if block.settings.button_link != blank and block.settings.button_label != blank %}
                  <a href="{{ block.settings.button_link }}" class="button outline">{{ block.settings.button_label | escape }}</a>
                {% endif %}
              </header>
              <div class="product-container">
                {%- assign collection = collections[block.settings.collection] -%}
                {%- assign product_limit = collection_count -%}
                {% for product in collection.products limit: product_limit  %}
                  {% include 'product-grid-item' %}
                {% else %}
                  {% for i in (1..product_limit) %}
                    {% include 'placeholder-product-grid-item' %}
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>
      {% endcase %}
    </div>
  {% endfor %}

</div>
{% unless product.empty? %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}

{%- if section.settings.size_guide_page != blank -%}
<div id="product-size-guide-content-{{ section.id }}" class="popup-page mfp-hide">
  <div class="rte">{{ pages[section.settings.size_guide_page].content }}</div>
</div>
{%- endif -%}


{% assign current_variant = product.selected_or_first_available_variant %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_image -%}
    {%- assign image_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media.preview_image | img_url: image_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- else -%}
    "sku": {{ current_variant.id | json }},
  {%- endif -%}
  {%- if current_variant.barcode.size == 12 -%}
    "gtin12": {{ current_variant.barcode | json }},
  {%- endif -%}
  {%- if current_variant.barcode.size == 13 -%}
    "gtin13": {{ current_variant.barcode | json }},
  {%- endif -%}
  {%- if current_variant.barcode.size == 14 -%}
    "gtin14": {{ current_variant.barcode | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "itemCondition" : "http://schema.org/NewCondition",
        "price" : {{ variant.price | money_without_currency | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }},
        {%- if variant.image -%}
          {%- assign variant_image_size = variant.image.width | append: 'x' -%}
          "image": {{ variant.image.src | img_url: variant_image_size | prepend: "https:" | json }},
        {%- endif -%}
        {%- if variant.title != 'Default Title' -%}
          "name" : "{{ product.title | strip_html | escape }} - {{ variant.title | escape }}",
        {%- else -%} 
          "name" : {{ product.title | json }},
        {%- endif -%}
        {%- if variant.barcode.size == 12 -%}
          "gtin12": {{ variant.barcode | json }},
        {%- endif -%}
        {%- if variant.barcode.size == 13 -%}
          "gtin13": {{ variant.barcode | json }},
        {%- endif -%}
        {%- if variant.barcode.size == 14 -%}
          "gtin14": {{ variant.barcode | json }},
        {%- endif -%}
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- else -%}
          "sku": {{ variant.id | json }},
        {%- endif -%}
        "priceValidUntil": "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}",
        "seller": {
          "@type": "Organization",
          "name": {{ shop.name | json }}
        }
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>


{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendors",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_savings",
      "label": "Show savings",
      "default": false
    },
    {
      "type": "page",
      "id": "size_guide_page",
      "label": "Size guide content"
    },
    {
      "type": "checkbox",
      "id": "product_quantity_enable",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_box_padding",
      "label": "Show product details background",
      "default": true
    },
    {
      "type": "header",
      "content": "Swatches"
    },
    {
      "type": "select",
      "id": "variant_style",
      "label": "Product variant style",
      "options": [
        {
          "value": "dropdowns",
          "label": "Dropdowns"
        },
        {
          "value": "buttons",
          "label": "Buttons"
        },
        {
          "value": "swatches",
          "label": "Swatches"
        }
      ],
      "default": "dropdowns"
    },
    {
      "type": "checkbox",
      "id": "variant_swatch_images",
      "label": "Show swatch images",
      "info": "Use custom swatch images instead of solid colors. [Learn more](https://help.stylehatch.com/article/335-product-color-swatches)",
      "default": false
    },
    {
      "type": "select",
      "id": "variant_swatch_shape",
      "label": "Swatch shape",
      "options": [
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "circle"
    },
    {
      "type": "checkbox",
      "id": "variant_swatch_soldout",
      "label": "Disable sold out swatches",
      "default": true
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_image_slider",
      "label": "Enable media slider",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "Show slider dots",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show previous and next arrows",
      "default": false
    },
    {
      "type": "select",
      "id": "thumbnails_placement",
      "label": "Thumbnails placement",
      "options": [
        {
          "value": "side--left",
          "label": "Left"
        },
        {
          "value": "side",
          "label": "Right"
        },
        {
          "value": "below",
          "label": "Below"
        },
        {
          "value": "hide",
          "label": "Hide"
        }
      ],
      "default": "below"
    },
    {
      "type": "checkbox",
      "id": "enable_thumb_slider",
      "label": "Group thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_featured_zoom_enable",
      "label": "Enable zoom",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_featured_lightbox_enable",
      "label": "Enable lightbox",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Description tabs"
    },
    {
      "type": "checkbox",
      "id": "tabs_enable",
      "label": "Enable description tabs",
      "default": false
    },
    {
      "type": "select",
      "id": "tabs_auto_headings",
      "label": "Description headings to tabs",
      "options": [
        {
          "value": "disabled",
          "label": "Disabled"
        },
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ],
      "default": "h4",
      "info": "Automatically create tabs from the headings added to the product description."
    },
    {
      "type": "text",
      "id": "tabs_title",
      "label": "Default tab title",
      "default": "Description"
    },
    {
      "type": "page",
      "id": "tabs_global_page_1",
      "label": "Tab content 1"
    },
    {
      "type": "page",
      "id": "tabs_global_page_2",
      "label": "Tab content 2"
    },
    {
      "type": "page",
      "id": "tabs_global_page_3",
      "label": "Tab content 3"
    },
    {
      "type": "header",
      "content": "Additional options"
    },
    {
      "type": "checkbox",
      "id": "show_product_jump",
      "label": "Show previous and next links",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "trust_badge",
      "label": "Checkout badge image"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    }
  ],
  "blocks": []
}
{% endschema %}
