{% assign limit = section.settings.product_recommendations_limit %}
{%- if section.settings.show_product_recommendations -%}    
  <div class="simple-collection product-recommendations" data-product-id="{{ product.id }}" data-limit="{{ limit }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations">
      <div class="wrapper">
        <header>
          {% if section.settings.product_recommendations_heading != blank %}
            <h4>{{ section.settings.product_recommendations_heading | escape }}</h4>
          {% endif %}
        </header>
        <div class="product-container product-container--{{ limit }}">
          {%- if recommendations.performed -%}
            {%- for product in recommendations.products -%}
              {% include 'product-grid-item' %}
            {%- endfor -%}
          {%- else -%}
            {%- for i in (1..limit) -%}
              {% include 'placeholder-product-grid-item' %}
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
  </div> 
{%- endif -%}

{% schema %}
  {
    "name": "Product recommendations",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_product_recommendations",
        "label": "Show dynamic recommendations",
        "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
        "default": true
      },
      {
        "type": "text",
        "id": "product_recommendations_heading",
        "label": "Heading",
        "default": "You may also like"
      },
      {
        "type": "select",
        "id": "product_recommendations_limit",
        "label": "Number of products",
        "default": "4",
        "options": [
          {"value": "4", "label": "4"},
          {"value": "8", "label": "8"}
        ]
      }
    ]
  }
{% endschema %}